<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Noa - Discord Bot</title>
    <meta name="description" content="¡Un bot en Español! Multiprópositos, moderación, interacción, manipulador de imágenes y más..." />
    <link rel="canonical" href="https://noa.wwmon.xyz/" />
    <meta name="twitter:card" value="summary" />
    <meta name="twitter:title" content="Noa" />
    <meta name="twitter:description" content="¡Un bot en Español! Multiprópositos, moderación, interacción, manipulador de imágenes y más..." />
    <meta name="twitter:image" content="https://media.discordapp.net/attachments/678059657624813588/678061298344525825/noa_banner.png?width=935&height=468" />
    <meta property="og:site_name" value="Noa - Bot Discord" />
    <meta property="og:title" content="Noa" />
    <meta property="og:url" content="https://noa.wwmon.xyz/" />
    <meta property="og:description" content="¡Un bot en Español! Multiprópositos, moderación, interacción, manipulador de imágenes y más..." />
    <meta property="og:image" content="https://media.discordapp.net/attachments/678059657624813588/678061298344525825/noa_banner.png?width=935&height=468" />
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="icon" type="image/png" sizes="205x205" href="https://cdn.glitch.com/4eb7b550-2163-4aeb-88e7-348d9f108c90%2F455c33a6-ad3d-4102-8443-e038091f47cd.image.png" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
  </head>
  <body>
    <nav class="nav">
      <div class="nav__logo-box">
        <img src="https://media.discordapp.net/attachments/678059657624813588/678061291444764722/noa_logo.png" alt="Noa Logo" />
      </div>
      <a href="https://noa.wwmon.xyz/invite" class="btn btn-invite-me u-mb-medium">Invítame <i class="fas fa-plus"></i></a>
      <ul class="nav__menu">
        <li class="menu__item active">
          <a href="#" class="menu__item--link">
            <span class="item__icon"><i class="fas fa-home"></i></span>
            <span class="item__name">Inicio</span>
          </a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__item--link">
            <span class="item__icon"><i class="fas fa-keyboard"></i></span>
            <span class="item__name">Comandos</span>
          </a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__item--link">
            <span class="item__icon"><i class="fas fa-bell"></i></span>
            <span class="item__name">Noticias</span>
          </a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__item--link">
            <span class="item__icon"><i class="fas fa-question"></i></span>
            <span class="item__name">FAQS</span>
          </a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__item--link">
            <span class="item__icon"><i class="fas fa-life-ring"></i></span>
            <span class="item__name">Soporte</span>
          </a>
        </li>
      </ul>
    </nav>
    <header class="header">
      <div class="header__owners-container">
        <div class="owners-container__perfil">
          <figure class="perfil-info"><%= client.users.cache.get(client.config.owners[0]).tag; %></figure>
          <figure class="perfil-img">
            <img src="<%= client.users.cache.get(client.config.owners[0]).displayAvatarURL({ size: 2048, dynamic: true }); %>" alt="" />
          </figure>
        </div>
        <div class="owners-container__perfil">
          <span class="perfil-info"><%= client.users.cache.get(client.config.owners[1]).tag; %></span>
          <figure class="perfil-img">
            <img src="<%= client.users.cache.get(client.config.owners[1]).displayAvatarURL({ size: 2048, dynamic: true }); %>" alt="" />
          </figure>
        </div>
      </div>
      <div class="header__stats-container">
        <div class="stats">
          <span class="stats-icon"><i class="fas fa-heart"></i> </span>
          <span class="stats-count"><%= client.votes; %></span>
        </div>
        <div class="stats">
          <span class="stats-icon"><i class="fas fa-server"></i> </span>
          <span class="stats-count"><%= client.guilds.cache.size; %></span>
        </div>
      </div>
      <div class="header__contact">
        <a href="/github"><i class="fab fa-github"></i> </a>
        <a href="/support"><i class="fab fa-discord"></i> </a>
      </div>
    </header>
    <main class="main">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, asperiores cum! Excepturi ratione perspiciatis fugit animi quaerat consequuntur, cupiditate molestiae commodi aliquid fugiat beatae deserunt voluptas eaque expedita sit consequatur. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, asperiores cum! Excepturi ratione perspiciatis fugit animi quaerat consequuntur, cupiditate molestiae commodi aliquid fugiat beatae deserunt voluptas eaque expedita sit consequatur. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, asperiores cum! Excepturi ratione perspiciatis fugit animi quaerat consequuntur, cupiditate molestiae commodi aliquid fugiat beatae deserunt voluptas eaque expedita sit consequatur. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, asperiores cum! Excepturi ratione perspiciatis fugit animi quaerat consequuntur, cupiditate molestiae commodi aliquid fugiat beatae deserunt voluptas eaque expedita sit consequatur. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, asperiores cum! Excepturi ratione perspiciatis fugit animi quaerat consequuntur, cupiditate molestiae commodi aliquid fugiat beatae deserunt voluptas eaque expedita sit consequatur. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, asperiores cum! Excepturi ratione perspiciatis fugit animi quaerat consequuntur, cupiditate molestiae commodi aliquid fugiat beatae deserunt voluptas eaque expedita sit consequatur. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, asperiores cum! Excepturi ratione perspiciatis fugit animi quaerat consequuntur, cupiditate molestiae commodi aliquid fugiat beatae deserunt voluptas eaque expedita sit consequatur. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, asperiores cum! Excepturi ratione perspiciatis fugit animi quaerat consequuntur, cupiditate molestiae commodi aliquid fugiat beatae deserunt voluptas eaque expedita sit consequatur. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, asperiores cum! Excepturi ratione perspiciatis fugit animi quaerat consequuntur, cupiditate molestiae commodi aliquid fugiat beatae deserunt voluptas eaque expedita sit consequatur. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, asperiores cum! Excepturi ratione perspiciatis fugit animi quaerat consequuntur, cupiditate molestiae commodi aliquid fugiat beatae deserunt voluptas eaque expedita sit consequatur. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, asperiores cum! Excepturi ratione perspiciatis fugit animi quaerat consequuntur, cupiditate molestiae commodi aliquid fugiat beatae deserunt voluptas eaque expedita sit consequatur.
      <button class="btn-menu">
        <i class="fas fa-plus"></i>
      </button>
    </main>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/brands.js" crossorigin="anonymous"></script>
  </body>
</html>
